<h2>Trends in the Data</h2>

<p>The Leeds Digital Festival is an open, collaborative celebration of digital culture that has grown in both scale and visibility each year since its inception in 2016. What began as a few big ideas from tech organisers within the city – backed by the local tech community and a small grant – has evolved into the Festival as we know it today, and in 2022 the Festival celebrated its seventh year with two instalments of world-class tech programming.</p>

<p>Whilst the onset of Covid-19 ensured that both 2020 editions of the Festival and the 2021 April mini-fest were forced to take place exclusively online, the relaxation of social distancing measures meant that the September 2021 programme was able to include a handful of physical events – with 55 events taking place in person. In 2022, the LDF programme saw a significant shift back to physical events, beginning with the April programmes 30/70 split of physical and virtual events, and culminating in the September Festival, which included 127 in-person sessions – just over half the total number of events.</p>

<p>In 2022, the September Festival also saw a smaller number of events enter the programme – with 253 events taking place, compared to the 300+ seen in 2021. This is due in large part to changes in the event approval process that sought to minimise overlap in content, reduce the number of scheduling clashes, and encourage organisations covering complementary themes to work in tandem. In total, the September 2022 Festival welcomed contributions from over 150 host organisations, and countless contributors from organisations like Meta, NHS Digital, Royal Mencap, HMRC, KPMG and the Ministry of Justice.</p>

<p>Similar to the 2021 events, Healthtech, Data, and Coding & Software remained among the most popular tech categories in 2022. We also noted a significant spike in the number of AI & Machine Learning submissions received, whilst the number of Edtech, Fintech and Arts, Culture & Music events declined in number.</p>

<p>With its roots firmly in Yorkshire soil, in 2022 the Festival also continued to develop its regional, national and international reach. At the regional level, the Festival established connections with organisations in the wider city region, including Wakefield (Production Futures), Harrogate (Co-Lab Harrogate) and Bradford (Morrisons).</p>

<p>In addition to welcoming online attendees from countries around the world – including Brazil, China, the USA, Australia and Uganda – we also broadened our international offering at in-person events. Working with the likes of the Department of International Trade, we were able to invite delegations from India, Poland and Turkey to the Festival stage, and were also joined by the Estonian Consulate whose event invited some of Estonia’s best digital health innovators to spotlight healthtech advancements in Europe’s startup capital. Looking ahead to the 2023 festivals, we hope to encourage even further collaboration with national and international partners.</p> 




