---
title: September 2021
date: 2021-09-20
report_style: festival
header_parts:
  - dashboard
---

<p>
  THIS IS NOW WORK IN PROGRESS, MOVING TO THE STANDARD REPORT FORMAT
</p>

{# This stuff below can disappear #}

<div id="report-area"></div>

<script>
  window.addEventListener('DOMContentLoaded', function () {
    report = new OI.report(document.getElementById('report-area'), {
      siteRoot: '{{ "/" | url }}',
    });
  });
</script>
