---
title: September 2021
date: 2021-09-20
report_style: festival
header_parts:
  - dashboard
---

<p>
  THIS IS NOW WORK IN PROGRESS, MOVING TO THE STANDARD REPORT FORMAT
</p>

<h2>Festival narrative</h2>

<h3>Website statistics</h3>
<p>During the festival period (01/08/2021 to 01/10/2021) there were 109,320 pageviews from 38,422 users. Below is a barchart showing the number of pageviews per day:</p>
{# TODO add website chart #}

<h3>Twitter statistics</h3>
<p>During the festival (01/08/2021 to 01/10/2021) we tweeted 282 times. These tweets received 1,054,676 impressions and 26,501 engagements including 1,392 likes and 557 retweets. Below is a barchart showing the response rate (ratio of engagements to impressions) by day:</p>
{# TODO add twitter chart #}

<h3>LinkedIn statistics</h3>
<p>During the festival (01/08/2021 to 01/10/2021) there were 92,605 impressions and 2,175 engagements including 64 comments and 1,301 reactions. Below is a barchart showing the response rate (ratio of engagements to impressions) by day:</p>
{# TODO add LinkedIn chart #}

<hr />

{# This stuff below can disappear #}

<div id="report-area"></div>

<script>
  window.addEventListener('DOMContentLoaded', function () {
    report = new OI.report(document.getElementById('report-area'), {siteRoot: '{{ "/" | url }}'});
  });
</script>