---
title: September 2021
date: 2021-09-01
ref: 2021-09
header_parts:
  - dashboard
---
<div id="report-area"></div>

<script>
  window.addEventListener('DOMContentLoaded', function () {
    report = new OI.report(document.getElementById('report-area'), {
      siteRoot: '{{ "/" | url }}',
    });
  });
</script>
