<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8" />
	<title>{{ title or metas.site }}</title>
	<link rel="shortcut icon" type="image/png" href="https://leedsdigitalfestival.org/wp-content/themes/leeds-digital-festival/assets/images/favicon.png" />
	<link rel="StyleSheet" href="https://use.typekit.net/inj1tmf.css" type="text/css" />
  <link rel="stylesheet" href="/style/components.css">
  <link rel="stylesheet" href="/style/dashboard.css">

  {% for header_part in header_parts %}
    {{ comp.header_parts[header_part]() | safe }}
  {% endfor -%}
</head>

<body>
  {{ content | safe }}
</body>

</html>