---
layout: layouts/page.njk
---

<h1>Leeds Digital Festival Report - {{ title }}</h1>

<p>
  This is the report for the edition of the Leeds Digital Festival which ran
  from {{ festival[ref].dates.festival[0] | date('HUMAN_DATE') }}
  to {{ festival[ref].dates.festival[1] | date('HUMAN_DATE') }}.
</p>

{# Adds a dashboard of based on the report_style setting, which defaults to 'festival' #}
{{ comp.report[report_style]({ festival_data: festival[ref] }) | safe }}

{{ content | safe }}