---
layout: layouts/page.njk
---

<h1>Leeds Digital Festival Report - {{ title }}</h1>

<p>
  This is the report for the edition of the Leeds Digital Festival which ran
  from {{ dates.festival[0] | date('HUMAN_DATE') }}
  to {{ dates.festival[1] | date('HUMAN_DATE') }}.
</p>

{#
  Adds a dashboard of based on the report_style setting, which defaults to whatever is set in
  `report/_data.yml` in the `report_style` key, but can be overriden using the shared data
  hierarchy of Lume.
#}
{{ comp.report[report_style]({
  dates: dates,
  statistics: statistics,
  social: social,
  attendees: attendees
}) | safe }}

{{ content | safe }}