<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <title>Leeds Digital Festival Report - {{ title }}</title>
    <link rel="shortcut icon" type="image/png" href="https://leedsdigitalfestival.org/wp-content/themes/leeds-digital-festival/assets/images/favicon.png" />
    <link rel="StyleSheet" href="https://use.typekit.net/inj1tmf.css" type="text/css" />
    <link rel="stylesheet" href="/style/components.css">
    <link rel="stylesheet" href="/style/dashboard.css">
    <style>
      .panels {
        margin: 0;
      }
      body {
        overflow: hidden;
        background-color: transparent;
      }
    </style>
  </head>

  <body>
    {{ comp.report[report_style]({
    dates: dates,
    statistics: statistics,
    social: social
  }) | safe }}

    <script>
      window.addEventListener('DOMContentLoaded', function () {
        var body = document.querySelector('body');
        function reportWindowSize() {
          var rect = body.getBoundingClientRect();
          window
            .parent
            .postMessage({
              height: Math.ceil(rect.height)
            }, '*');
        }
        window.addEventListener('resize', reportWindowSize);
        reportWindowSize();
      })
    </script>

  </body>

</html>