{%- set festival_period = dates.festival[0] | date('HUMAN_DATE')  + ' to ' + dates.festival[1] | date('HUMAN_DATE') %} 
{%- set festival_context_period = dates.extract[0] | date('HUMAN_DATE')  + ' to ' + dates.extract[1] | date('HUMAN_DATE') %} 

{%- macro popup_text(label, value, total) -%}
  {{ ((value or 0) * 100 / total) | round }}% of hosts reported attendees from {{ label }}
{%- endmacro -%}

{% comp 'report.panels' %}
  {% comp 'report.panel' %}
    <span class="title">Events</span>
    <div class="number">{{ statistics.events | localize }}</div>
    <p class="footnote">{{ festival_period }}</p>
  {% endcomp %}
  {% comp 'report.panel' %}
    <span class="title">Event Type Breakdown</span>
    <div class="number">{{ statistics.event_type | localize }}</div>
    <p class="footnote">{{ festival_period }}</p>
  {% endcomp %}
    {% comp 'report.panel' %}
    <span class="title">Events with International Attendees</span>
    <div class="number">{{ statistics.international | localize }}</div>
  {% endcomp %}
    {% comp 'report.panel' %}
    <span class="title">Number of Hosts</span>
    <div class="number">{{ statistics.hosts | localize }}</div>
  {% endcomp %}
  {% comp 'report.panel' %}
    <span class="title">Festival Sponsors</span>
    <div class="number">{{ statistics.sponsors | localize }}</div>
    <p class="footnote">Premier/Executive/Associate/Partner</p>
  {% endcomp %}
  {% comp 'report.panel', { rows: 3 } %}
    <span class="title">Map</span>
    {{ comp.map.uk({
      width: '80%',
      values: attendees,
      max: statistics.max_attendees,
      total: statistics.total_returns_region,
      popup_formatter: popup_text
    }) | safe }}
    <p class="footnote">
      Based on regions reported in {{ statistics.total_returns_region }} of {{ statistics.total_returns }} host returns.
    </p>
  {% endcomp %}
  {% comp 'report.panel' %}
    <span class="title">Website pageviews</span>
    <div class="number">{{ social.website.pageviews | localize }}</div>
    <p class="footnote">{{ festival_context_period }}</p>
  {% endcomp %}
    {% comp 'report.panel' %}
    <span class="title">Mailshot recipients</span>
    <div class="number">{{ social.mailing_list.recipients | localize }}</div>
    <p class="footnote">{{ festival_context_period }}</p>
  {% endcomp %}
    {% comp 'report.panel' %}
    <span class="title">Tweet impressions</span>
    <div class="number">{{ social.twitter.impressions  | localize }}</div>
    <p class="footnote">{{ festival_context_period }}</p>
  {% endcomp %}
  {% comp 'report.panel' %}
    <span class="title">Tweet engagements</span>
    <div class="number">{{ social.twitter.engagements  | localize }}</div>
    <p class="footnote">{{ festival_context_period }}</p>
  {% endcomp %}
    {% comp 'report.panel' %}
    <span class="title">LinkedIn impressions</span>
    <div class="number">{{ social.linkedin.impressions  | localize }}</div>
    <p class="footnote">{{ festival_context_period }}</p>
  {% endcomp %}
    {% comp 'report.panel' %}
    <span class="title">LinkedIn engagements</span>
    <div class="number">{{ social.linkedin.engagements  | localize }}</div>
    <p class="footnote">{{ festival_context_period }}</p>
  {% endcomp %}
  {% comp 'report.panel' %}
    <span class="title">LinkedIn unique visitors</span>
    <div class="number">{{ social.linkedin.visitors  | localize }}</div>
    <p class="footnote">{{ festival_context_period }}</p>
  {% endcomp %}
{% endcomp %}