	/*! minireset.css v0.0.6A | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
	body { font-family: Arial; background-color: white; font-size: 100%; }
	.holder { max-width: 65rem; padding: 2em; margin: auto; }
	h1, h2, h3 { font-family:"brandon-grotesque"; }
	h1 + *, h2 + *, h3 + * { margin-top: 1em; }
	
  main > * + * {
    margin-top: 1rem;
  }

	.sub-section { margin-bottom: 2em; }

	.title { font-size: 1.2em; font-weight: bold; font-family:"brandon-grotesque"; }
  .subtext { font-size: 1.2em; font-weight: bold; font-family:"brandon-grotesque"; color: #35d0a6; }
	.number { font-size: 3em; font-weight: bold; font-family:"brandon-grotesque"; line-height: 1.25em!important; color: #35d0a6; }	
	.tooltip { white-space: nowrap; background-color: #061eff; color: white; padding: 0.325em 0.5em; transform: translate3d(-50%,0.5em,0); z-index: 100; position: absolute; z-index: 98; }
	.tooltip:before { content: ""; border: 0.5em solid transparent; border-bottom: 0.5em solid #061eff; border-top: 0; left: 50%; top: 0; transform: translate3d(-50%,-0.5em,0); position: absolute; display: block; width: 0; height: 0; }
	.footnote { opacity: 0.25; font-size: 0.8em; line-height: 1.2em; }
	.panels > li:focus .footnote, .panels > li:hover .footnote { opacity: 1; }
	.chart { height: 300px; }

/* Site Header */
.site-header {
  font-family: 'brandon-grotesque';
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header :first-child {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.site-header nav ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.popup {
  padding: 0.325em 0.5em;
  --bg-colour: #061eff;
  position: fixed;
  color: white;
  background-color: var(--bg-colour);
  z-index: 1000;
  padding: 0.5rem;
  display: inline-block;
  transition: left 0.1s linear, top 0.1s linear, opacity 0.5s ease-in-out;
  min-width: 2em;
  max-width: 10em;
  box-shadow: 2px 2px 4px hsla(0, 100%, 0%, 30%);
  transform: translateX(-50%);
  text-align: center;
}

.popup::after {
  content: "";
  position: absolute;
  bottom: auto;
  width: 0;
  height: 0;
  left: 50%;
  top: 0;
  transform: translate3d(-50%, -100%, 0);
  border: 0.5rem solid #ffffff00;
  border-bottom-color: var(--bg-colour);
}

.chart-container .chart {
  height: auto;
  
}