	/*! minireset.css v0.0.6A | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
	body { font-family: Arial; background-color: white; font-size: 16px; }
	.holder { max-width: 1080px; padding: 2em; margin: auto; }
	h1, h2, h3 { font-family:"brandon-grotesque"; }
	h1 + *, h2 + *, h3 + * { margin-top: 1em; }
	
	.sub-section { margin-bottom: 2em; }

	.panels { list-style: none; margin-left: 0; display: grid; grid-template-columns: repeat(3, minmax(0, 1fr)); grid-gap: 0.5em; margin-bottom: 2em; }
	.panels > li { padding: 1em; background: #0C0C33;color:white; text-align:center; margin-bottom: 0; }
	.panels > li:focus { outline: 4px solid #061eff; }
	.panels > li > * { line-height: 1.2em; }
	.panels > li > span { display: block; }
	.title { font-size: 1.2em; font-weight: bold; font-family:"brandon-grotesque"; }
	.number { font-size: 4.5em; font-weight: bold; font-family:"brandon-grotesque"; line-height: 1.25em!important; color: #35d0a6; }	
	.tooltip { white-space: nowrap; background-color: #061eff; color: white; padding: 0.325em 0.5em; transform: translate3d(-50%,0.5em,0); z-index: 100; position: absolute; z-index: 98; }
	.tooltip:before { content: ""; border: 0.5em solid transparent; border-bottom: 0.5em solid #061eff; border-top: 0px; left: 50%; top: 0; transform: translate3d(-50%,-0.5em,0); position: absolute; display: block; width: 0px; height: 0px; }
	.footnote { opacity: 0.25; font-size: 0.8em; line-height: 1.2em; }
	.panels > li:focus .footnote, .panels > li:hover .footnote { opacity: 1; }
	.chart { height: 300px; }
	@media only screen and (max-width: 700px){
		.panels { grid-template-columns: repeat(2, minmax(0, 1fr)); grid-gap: 0.25em; }
	}

/* Site Header */
.site-header {
  font-family: 'brandon-grotesque';
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header :first-child {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.site-header nav ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}
