---
title: LinkedIn
---

{% from 'macros.njk' import dateFormatterNoDay %}

<h1>{{title}}</h1>

<p>This page shows the data on Leeds Digital Festival LinkedIn account from 2021 - 2022.</p>

<h2>Headlines</h2>


{% comp 'metric.headline' %}
{% comp 'metric.panel' %}
    <span class="title">Impressions</span>
    <div class="number">{{ metrics.linkedin.monthly_updates.columns.impressions | sum | localize  }}</div>
  {% endcomp %}
  {% comp 'metric.panel' %}
    <span class="title">Engagements</span>
    <div class="number">{{ metrics.linkedin.monthly_updates.columns.engagements | sum | localize }}</div>
  {% endcomp %}  
  {% comp 'metric.panel' %}
    <span class="title">Comments</span>
    <div class="number">{{ metrics.linkedin.monthly_updates.columns.comments | sum  | localize }}</div>
  {% endcomp %}
  {% comp 'metric.panel' %}
    <span class="title">Reactions</span>
    <div class="number">{{ metrics.linkedin.monthly_updates.columns.reactions | sum | localize }}</div>
  {% endcomp %}
  {% comp 'metric.panel' %}
    <span class="title">Clicks</span>
    <div class="number">{{ metrics.linkedin.monthly_updates.columns.clicks | sum | localize }}</div>
  {% endcomp %}
    {% comp 'metric.panel' %}
    <span class="title">Total Page Views</span>
    <div class="number">{{ metrics.linkedin.monthly_visitors.columns.total_views | sum | localize }}</div>
  {% endcomp %}
  {% endcomp %}



<h3>LinkedIn Statistics</h3>

<p>Throughout 2022, our LinkedIn posts reached <strong>{{ metrics.linkedin.monthly_updates.columns.impressions | sum | localize  }}</strong> impressions, with <strong>{{ metrics.linkedin.monthly_updates.columns.reactions | sum | localize }}</strong> reactions and <strong>{{ metrics.linkedin.monthly_updates.columns.comments | sum  | localize }}</strong> comments.</p>

<p>The below chart shows the engagement rate (ratio of engagements to impressions) by month over the year:</p>


<p> { LINECHART - engagement rate monthly over last year } </p>



<p> In 2022, we have had <strong>{{ metrics.linkedin.monthly_visitors.columns.total_views | sum | localize }}</strong> total page views. The below chart shows the increase in page views over the past year. </p>

<div class="chart-container">
{{ comp.oi.charts.graph.line({
  categories: metrics.linkedin.monthly_visitors.columns.month,
  width: 25,
  height: 6,
  text: { colour: '#eee' },
  xAxis: {
    title: 'Month',
    titleOffset: 3,
    labelRotate: 35,
    majorTick: 2,
    formatter: dateFormatterNoDay
  },
  yAxis: {
    title: 'Page Views',
    titleOffset: 2,
    majorTick: 50000
  },
  plotArea: {
    yMin: 0,
    yMax: 7500,
    colour: '#0C0C33'
  },
  padding: {
    left: 3,
    bottom: 4
  },
  series: [
    {
      id: "all", label: "All",
      yValues: metrics.linkedin.monthly_visitors.columns.total_views,
      colour: '#35d0a6',
      markerOptions: { s: 5 }
    }
  ],
  legend: {
    width: "20em"
  }
}) | safe }}
</div>





{# <pre>
{{ metrics.linkedin.monthly | dump(2) }}
</pre>  #}


