---
title: Twitter
---

{% from 'macros.njk' import dateFormatterNoDay %}

<h1>{{title}}</h1>

<h2>Headlines</h2>

{% comp 'metric.headline' %}
{% comp 'metric.panel' %}
    <span class="title">Tweets Published</span>
    <div class="number">{{ metrics.twitter.monthly.columns.tweets_published | sum | localize }}</div>
  {% endcomp %}
  {% comp 'metric.panel' %}
    <span class="title">Impressions</span>
    <div class="number">{{ metrics.twitter.monthly.columns.impressions | sum | localize }}</div>
  {% endcomp %}
  {% comp 'metric.panel' %}
    <span class="title">Engagements</span>
    <div class="number">{{ metrics.twitter.monthly.columns.engagements | sum | localize }}</div>
  {% endcomp %}
  {% endcomp %}



<h3>Twitter Statistics</h3>

<p>Throughout 2022, we tweeted <strong>{{ metrics.twitter.monthly.columns.tweets_published | sum | localize }}</strong> times. These tweets made <strong>{{ metrics.twitter.monthly.columns.impressions | sum | localize }}</strong> 
impressions and had <strong>{{ metrics.twitter.monthly.columns.engagements | sum | localize }}</strong> engagements, including <strong>{{ metrics.twitter.monthly.columns.likes | sum | localize }}</strong> likes and 
<strong>{{ metrics.twitter.monthly.columns.retweets | sum | localize }}</strong> retweets.</p>

<p>The below chart shows <strong>engagement rate</strong> (ratio of impressions to engagements) over the year:

<div class="chart-container">
{{ comp.oi.charts.graph.line({
  categories: metrics.twitter.monthly.columns.engagement_rate,
  width: 25,
  height: 6,
  text: { colour: '#eee' },
  xAxis: {
    title: 'Month',
    titleOffset: 3,
    labelRotate: 35,
    majorTick: 2,
    formatter: dateFormatterNoDay
  },
  yAxis: {
    title: 'Engagement Rate (%)',
    titleOffset: 2,
    majorTick: 50000
  },
  plotArea: {
    yMin: 0,
    yMax: 1,
    colour: '#0C0C33'
  },
  padding: {
    left: 3,
    bottom: 4
  },
  series: [
    {
      id: "all", label: "All",
      yValues: metrics.twitter.monthly.columns.engagement_rate,
      colour: '#35d0a6',
      markerOptions: { s: 5 }
    }
  ],
  legend: {
    width: "20em"
  }
}) | safe }}
</div>

<p>The below chart shows <strong>impressions</strong> by month over the year:</p>

<div class="chart-container">
{{ comp.oi.charts.graph.line({
  categories: metrics.twitter.monthly.columns.month,
  width: 25,
  height: 6,
  text: { colour: '#eee' },
  xAxis: {
    title: 'Month',
    titleOffset: 3,
    labelRotate: 35,
    majorTick: 2,
    formatter: dateFormatterNoDay
  },
  yAxis: {
    title: 'Impressions',
    titleOffset: 3,
    majorTick: 50000
  },
  plotArea: {
    yMin: 0,
    yMax: 215000,
    colour: '#0C0C33'
  },
  padding: {
    left: 5,
    bottom: 4
  },
  series: [
    {
      id: "all", label: "All",
      yValues: metrics.twitter.monthly.columns.impressions,
      colour: '#35d0a6',
      markerOptions: { s: 5 }
    }
  ],
  legend: {
    width: "20em"
  }
}) | safe }}
</div>

<p> In 2022, we have gained <strong>{{ social.twitter.followers_gained }}</strong> followers on Twitter. The below chart shows the increase in followers over the course of the year:</p>

<p> { LINECHART - increase in followers over the year } </p>
