---
title: Website
---

{% from 'macros.njk' import dateFormatterNoDay %}

<h1>{{title}}</h1>

<p>This page shows the data on Leeds Digital Festival website analytics from 2021 - 2022.</p>

<p>[Some content around Leeds Digital Festival having a year-long impact, more than just through the festival period - this page shows breakdown of metrics throughout the year]</p>


<h2>Headlines</h2>


{% comp 'report.panels' %}
{% comp 'report.panel' %}
    <span class="title">Page Views</span>
    <div class="number">{{ social.website.page_views | localize }}</div>
  {% endcomp %}
  {% comp 'report.panel' %}
    <span class="title">Unique Page Views</span>
    <div class="number">{{ social.website.unique_page_views  | localize }}</div>
  {% endcomp %}
  {% comp 'report.panel' %}
    <span class="title">Users</span>
    <div class="number">{{ social.website.users  | localize }}</div>
  {% endcomp %}
  {% endcomp %}



<h3>Website Statistics</h3>

<p>Throughout 2022, the Leeds Digital Festival website has received <strong>{{social.website.page_views}}</strong> total page views, of which <strong>{{social.website.unique_page_views}}</strong> views are unique from <strong>{{social.website.users}}</strong> users.</p>

<p>The below chart shows the engagement rate (ratio of engagements to impressions) by month over the year:</p>


<p> { LINECHART - engagement rate monthly over last year } </p>



<p> In 2022, we have had <strong>{{ social.linkedin.page_views }}</strong> total page views. The below chart shows the increase in page views over the past year. </p>

<div class="chart-container">
{{ comp.oi.charts.graph.line({
  categories: metrics.website.monthly.columns.month,
  width: 25,
  height: 6,
  text: { colour: '#eee' },
  xAxis: {
    title: 'Month',
    titleOffset: 3,
    labelRotate: 35,
    majorTick: 2,
    formatter: dateFormatterNoDay
  },
  yAxis: {
    title: 'Page Views',
    titleOffset: 3,
    majorTick: 50000
  },
  plotArea: {
    yMin: 0,
    yMax: 100000,
    colour: '#0C0C33'
  },
  padding: {
    left: 4,
    bottom: 4
  },
  series: [
    {
      id: "all", label: "All",
      yValues: metrics.website.monthly.columns.page_views,
      colour: '#35d0a6',
      markerOptions: { s: 5 }
    }
  ],
  legend: {
    width: "20em"
  }
}) | safe }}
</div>

{# <pre>
{{ metrics.website.monthly | dump(2) }}
</pre> #}